{% extends 'base.html.twig' %}

{% block title %}New Expense{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Ajouter une dépense</h1>
            {{ include('expense/_form.html.twig') }}
            <a class="btn btn-primary mt-2" href="{{ path('expense_index', {'id': tricount}) }}">Retour</a>
        </div>
    </div>
{% endblock %}
