{% extends 'base.html.twig' %}

{% block title %}Edit Tricount{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Modifier le tricount "{{ tricount.name }}"</h1>
            {{ include('tricount/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
    <div class="row my-3">
        <div class="d-flex">
            <a class="btn btn-primary me-2" href="{{ path('tricount_index') }}">Retour</a>
            {{ include('tricount/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
